<div>
    <article class="car-block">
      <div class="st1" >
        <a target="_blank" href="https://www.abccar.com.tw/dealer/25150">Volvo新凱原廠認證中古車</a>
      </div>
      <a target="_blank" href="https://www.abccar.com.tw/car/1594213?car_source=index-top-dealer">
        <div>
        <img class="car-photo" data-src="https://img.abccar.com.tw/resize?key=285x190/https://image.abccar.com.tw/carimages/images/2bf22b73dc03fe4fa89883688453b265.jpg" alt="" src="https://img.abccar.com.tw/resize?key=285x190/https://image.abccar.com.tw/carimages/images/2bf22b73dc03fe4fa89883688453b265.jpg" data-was-processed="true">
        <span></span>
        </div>
        <div>
          <hr>
          <h3 class="car-head">Volvo XC60 T5 Momentum (2代)</h3>
          <p class="car-describe">新凱原廠認證 正2019年 XC60 T5M釋出! 車美況佳，白色出售中。</p>
          <hr>
          <ul class="li-test">
            <li>2019年</li>
            <li>2.7萬公里</li>
            <li>台北市</li>
          </ul>
          <ul class="li-test">
            <li>原廠保固</li>
          </ul>
        </div>
      </a>

      <div class="car-price">
        <span>
            167萬
        </span>
      </div>
    </article>
  </div>






  <a itemprop="mainEntityOfPage" target="_blank" href="https://www.abccar.com.tw/car/1560880?car_source=index-top-dealer" class="abc-article__link" car-id="1560880">
    <div class="abc-article__thumb">
                  <img itemprop="image" class="img-responsive loaded" data-src="https://img.abccar.com.tw/resize?key=285x190/https://image.abccar.com.tw/carimages/images/709be683-659d-45e2-9860-4e75ad7829f4.jpg" alt="" src="https://img.abccar.com.tw/resize?key=285x190/https://image.abccar.com.tw/carimages/images/709be683-659d-45e2-9860-4e75ad7829f4.jpg" data-was-processed="true">
                                                                    <span class="abc-sprites car-origin-tag abc-article__badge"></span>
                                                  </div>

    <div class="abc-article__content">
      <hr class="abc-hr abc-hr--transparent-15">
      <h3 class="abc-article__title" itemprop="name">LEXUS IS300h 豪華版 (3代)</h3>
      <p itemprop="description" class="abc-article__description">Lexus CPO 精選原廠認證中古車</p>
      <hr class="abc-hr abc-hr--transparent-10">
      <ul class="abc-article__attr">
                      <li itemprop="productionDate">2013年</li>
          <li>4.5萬公里</li>
          <li>台北市</li>
          <li>0天前更新</li>
                  </ul>
      <hr class="abc-hr abc-hr--transparent-10">
      <ul class="abc-article__tag" abc-show-tooltip="">
                    <li class="orange" title="">原廠保固</li>                                                                      </ul>
    </div>
  </a>