{% extends 'base.html' %}
{% block content %}
<!-- bestCar -->
      <section id="contact" class="bestCar">
      <div id="contact" class="bestCar">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <div class="row">
                     <div class="col-md-6 offset-md-6">
                        <form class="main_form" action="" method="POST" novalidate>
                           {{ form.hidden_tag() }}
                           <div class="titlepage">
                              <h2>Use model to Predict Price</h2>
                           </div>
                           <>
                           <div class="row">
                              <div>
                                 <p>{{ form.model }}</p>
                              </div>
                              <span>{{ error_info }}</span>
                              <div class="col-md-12">
                                 <p>{{ form.car_brand.label }}</p>
                                 <p>{{ form.car_brand(size=50) }}</p>
                              </div>
                              <div class="col-md-12">
                                 <p>{{ form.car_model.label }}</p>
                                 <p>{{ form.car_model(size=50) }}</p>                          
                              </div>
                              <div class="col-md-12">
                                 <p>{{ form.car_year.label }}</p>
                                 <p>{{ form.car_year(size=50) }}</p>
                              </div>
                              <div class="col-md-12">
                                 <p>{{ form.car_mileage.label }}</p>
                                 <p>{{ form.car_mileage(size=50) }}</p>
                              </div>
                              <div class="col-md-12">
                                 <p>{{ form.car_color.label }}</p>
                                 <p>{{ form.car_color(size=50) }}</p>
                              </div>
                              <div class="col-md-12">
                                 <p>{{ form.car_cylinderVolume.label }}</p>
                                 <p>{{ form.car_cylinderVolume(size=50) }}</p>
                              </div>
                              <div class="col-md-12">
                                 <p>{{ form.car_driveMode.label }}</p>
                                 <p>{{ form.car_driveMode(size=50) }}</p>
                              </div>
                              <div class="col-md-12">
                                 <p>{{ form.car_gear.label }}</p>
                                 <p>{{ form.car_gear(size=50) }}</p>
                              </div>
                              <div class="col-md-12">
                                 <p>{{ form.car_fuel.label }}</p>
                                 <p>{{ form.car_fuel(size=50) }}</p>
                              </div>
                              <div class="col-md-12">
                                 <p>{{ form.car_door.label }}</p>
                                 <p>{{ form.car_door(size=50) }}</p>
                              </div>
                              <div class="col-md-12">
                                 <p>{{ form.car_seat.label }}</p>
                                 <p>{{ form.car_seat(size=50) }}</p>
                              </div>
                              <div class="col-md-12">
                                 <p>{{ form.car_verified.label }}</p>
                                 <p>{{ form.car_verified(size=50) }}</p>
                              </div>
                              <div class="col-sm-12">
                                 <p>{{ form.submit(size=50) }}</p>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
{% endblock %}